
.chart{
    position: relative;
    height: 100%;
    width: 100%;
}

.budget__limit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total__spent{
    font-weight: 700;
    font-size: 2rem;
}

.limit{
    font-size: 0.75rem;
    text-align: center;
    color: var(--grey-500);
    font-weight: 400;
    line-height: 150%;
    margin-top: 0.5rem;
}

.chart__wrapper {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    display: flex;
    height:300px;
    flex-direction: column;
    align-items: center;
  }
  
  .chart__wrapper > div { /* Targets ResponsiveContainer */
    position: relative;
    width: 350px;
  }

  .budgets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .budget__item{
    display: flex;
    gap: 16px;
  }


  .category{
    color: var(--grey-500);
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 400;
  }


  .maximum{
    font-weight: 700;
    font-weight: 0.825rem;
    font-style: normal;
    line-height: 150%;
  }