.container{
    padding: 1.5rem 1rem;
}

.paragraph{
    color: var(--grey-500);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
}

.total{
    display: flex;
    justify-content: space-between;
}

.menu{
    position: relative;
}

.menu_options{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    z-index: 10000;
    width: 100px;
    font-size: 0.875rem;
    
}

.progress_total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_saved{
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    color: var(--grey-900);
}

.progress_bar{
    width: 100%;
    height: 2rem;
    background-color: var(--beige-100);
    position: relative;
    border-radius: 0.25rem;
    --progress-width: 8%;
}

.progress_bar::after{
    content: "";
    background-color: var(--background-color);
    width: calc(var(--progress-width, 0%) - 1rem);
    height: 100%;
    position: absolute;
    border-radius: 0.25rem;
    transition: width .5s ease-in-out;
    height: 80%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0 0.5rem;

}

.withdraw_mode::before {
    content: "";
    background-color: var(--red);
    width: calc(var(--current-progress) - var(--preview-progress));
    height: 100%;
    position: absolute;
    right: calc(100% - var(--current-progress));
    border-radius: 0.25rem;
    z-index: 1;
    transition: width .5s ease-in-out;
}

.progress_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.progress_percentage{
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.percentage_amount{
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--grey-500);
}

.btn_container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn{
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50%;
    background-color: var(--beige-100);
    font-weight: 700;
    font-size: 0.875rem;
}

.delete_btn{
    text-align: left;
    color: var(--red);
}

.list_item{
    text-align: left;
}